* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background: rgb(52, 84, 172);
  border-radius: 4px;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header img {
  width: 4.5%;

}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgb(26, 44, 160), rgb(2, 9, 58));
  margin-bottom: auto;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
  color: #fff;
}

@media (max-width: 600px) {
    #header img {
        width: 15%;
      }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: linear-gradient(rgb(18, 33, 131), rgb(4, 14, 88));
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

/*
Perfil ==========================================================
*/

body {
    background: linear-gradient(rgb(0, 8, 24), rgb(2, 7, 54));
    height: 100vh;
    width: 100%;
}



.foto-perfil img {
    margin: auto;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-radius: 50%;
}

.foto-perfil a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.informaçoes p {
    color: #fff;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    margin: auto;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: aliceblue;
    background: rgba(15, 106, 192, 0.4);
    border: none;
    border-radius: 4px;
}

button:hover {
    background: rgb(27, 114, 172);
}

.seguidores p {
    color: aliceblue;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numero-seguidores p {
    color: rgb(185, 188, 190);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    body {
        width: 100%;
    }

    .foto-perfil img {
        height: auto;
        width: 65%;
    }

}